@model BigJoelSafari.ViewModels.SearchAnimalsViewModel

<h1>@Model.Title</h1>

@if (Model.Animals != null)
{

    <h3>@Model.Animals.Count Result(s)</h3>

    @foreach (var animal in Model.Animals)
    {
        <table class="animal-listing">
            <tr>
                <td>Name</td>
                <td>@animal.Name</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>@animal.Size</td>
            </tr>
            <tr>
                <td>Origin</td>
                <td>@animalOrigin</td>
            </tr>
            <tr>
                <td>Eat</td>
                <td>@animal.Eat</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>@animal.Type</td>
            </tr>
        </table>
    }
}