@{
    // TODO #2.1- declare the ViewModel (outside of this @{ } block)
}

@model BigJoelSafari.Models.Animal



<table class="animal-listing">
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>@Model.Size</td>
    </tr>
    <tr>
        <td>Origin</td>
        <td>@Model.Origin</td>
    </tr>
    <tr>
        <td>Eat</td>
        <td>@Model.Eat</td>
    </tr>
    <tr>
        <td>Kind</td>
        <td>@Model.Kind
        <td>
    </tr>
</table>

@{
    // TODO #2.2 - display the animal fields, one per row (outside of this @{ } block)
}