<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.animals != null)
{

    <h3>@ViewBag.animals.Count Result(s)</h3>

    @foreach (Dictionary<string, string> animal in ViewBag.animals)
    {
        <div>
            <table class="animal-listing">
                @foreach (KeyValuePair<string, string> animals in animal)
                {
                    <tr>
                        <td>@animals.Key</td>
                        <td>@animals.Value</td>
                    </tr>
                }
            </table>
        </div>
    }
}