@model BigJoelSafari.ViewModels.SearchAnimalsViewModel

<h1>@Model.Title</h1>

<form action="/Search/Results">
    <p>
        @foreach (var column in Model.Columns)
        {
            var checkedColumn = column.Equals(Model.Column);

            <span>
                <input type="radio"
                       name="Column"
                       id="@column"
                       value="@column"
                       checked="@checkedColumn" />
                <label for="@column">@column</label>
            </span>
        }
    </p>

    <p>
        <label asp-for="Value"></label>
        <input asp-for="Value" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (Model.Animals != null)
{

    <h3>@Model.Animals.Count Result(s)</h3>

    @foreach (var animal in Model.Animals)
    {
        <table class="animal-listing">
            <tr>
                <td>Name</td>
                <td>@animal.Name</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>@animal.Size</td>
            </tr>
            <tr>
                <td>Origin</td>
                <td>@animal.Origin</td>
            </tr>
            <tr>
                <td>Eat</td>
                <td>@animal.Eat</td>
            </tr>
            <tr>
                <td>Kind</td>
                <td>@animal.Kind</td>
            </tr>
        </table>
    }
}